#root{
    -fx-background-image: url("/icon/library.jpg");
    -fx-background-size: 50% 100%;
}
.button{
    -fx-background-radius: 15px;
    -fx-background-color: rgb(110, 2, 2);
}
#scrollPane,#flowPlane{
     /*-fx-background-color: rgba(241,188,146,0.2);*/
    -fx-background-image: url("/icon/library.jpg");
}