.invalid{
    -fx-border-color: #ff0101;
    -fx-border-width: 2px;
}

#vBox1{
    -fx-background-color: rgba(234, 172, 103, 0.9);
}

.text-field{
    -fx-font-size: 15px;
    /*-fx-background-color: #fdefd4;*/
    -fx-prompt-text-fill: darkgrey;
}
.text-area {
    -fx-font-size: 15px;
    -fx-progress-color: #fdefd4;
}
.list-view{
    -fx-background-color: #fdefd4;
}
#imgPicture{
    -fx-background-color: rgba(206,231,241,1);
}
#btnAdd,#btnSave,#btnBrowse{
    -fx-background-color: #5e4f06;
}
#btnClear,#btnRemove{
    -fx-background-color: rgb(42, 21, 21);
}
#btnAdd:hover,#btnSave:hover,#btnBrowse:hover{
    -fx-background-color: rgba(94,79,6,0.7);
}
#btnClear:hover,#btnRemove:hover{
    -fx-background-color: rgb(42, 21, 21,0.8);
}
#lblTitle,#lblLogIn{
    -fx-font-weight: bold;
}
#root{
    -fx-background-image: url("/icon/library.jpg");
    -fx-background-size: 50% 50%;
}
.button{
    -fx-text-fill: white;
}
#btnNew{
    -fx-background-color: green;
}