.button{
    -fx-background-radius: 10px;
    -fx-background-color: rgba(68, 2, 2, 0.93);
    -fx-text-fill: white;
    -fx-font-size: 15px;
}
#lblDate,#lblAdmin{
    -fx-background-color: #e7c1b3;
}
#btnBack{
    -fx-background-color: #b21919;
}
#btnBack:hover{
    -fx-background-color: rgba(178, 25, 25, 0.7);
}
.button:hover{
    -fx-opacity: 0.8;
}
